.page {
  max-width: 880px;
  min-height: 100vh;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .page {
    max-width: 670px;
  }
}


@media screen and (max-width: 615px) {
  .page {
    min-width: 320px;
  }
}